<label for="name">Name</label> <input name="name" id="name" class="" /><br/>
<label for="email">Email</label> <input name="email" id="email" class="" /><br/>
<button class="btn btn-default submit">Submit</button>
